<div class="container mt-3">
  <div class="row card-group text-center" *ngIf="performanceArray.length">
    <div class="col-md-4" *ngFor="let performance of performanceArray">
      <div class="card rounded">
        <h4 class="card-header p-2">
          {{ performance.examname | uppercase }}
        </h4>
        <div class="card-body p-1 pt-2">
          <p class="text-center mb-2 pb-0">
            <span *ngFor="let bat of performance['batch']">
              <span class="badge p-2 mr-2 badge-danger">{{ bat }} </span>
            </span>
          </p>

          <p class="m-0 p-0 mt-1">Duration : {{ performance.duration }} min</p>
          <p class="m-0 p-0 mb-2">Marks : {{ performance.questions.length }}</p>
        </div>
        <div class="card-footer p-0 pt-2">
          <div class="row">
            <h4 class="col">
              <button
                class="btn btn-success btn-sm icon"
                (click)="checkResult(performance.examname)"
              >
                <i class="fas fa-eye"></i>
              </button>
            </h4>

            <h4 class="col">
              <button
                class="btn btn-danger btn-sm icon"
                (click)="deleteExam(performance.examname, performance['batch'])"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="text-danger text-center mt-3" *ngIf="!performanceArray.length">
      No Exam is Uploaded Yet
    </h3>
  </div>
</div>
