a {
  cursor: pointer;
  transition: transform 0.2s;
}

a :hover {
  transform: scale(1.2);
}

.icon :hover {
  transform: scale(1.2);
}

.card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 12px 18px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  color: black;
}

/* modal */

.modal {
  font-family: "Varela Round", sans-serif;
}
.modal-login {
  max-width: 450px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 1px;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login .form-group {
  margin-bottom: 15px;
}
.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 30px;
  font-size: 15px;
  transition: all 0.5s;
}
.modal-login .form-control {
  font-size: 13px;
}

.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.btn {
  line-height: normal;
}

/* ==================== */

.modal-confirm {
  color: #636363;
  max-width: 450px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #01d28e;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #01d28e;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #40dab2;
  outline: none;
}
