<div class="container row">
  <div class="col-md-6 pt-0 mt-3 mb-3 rounded">
    <div class="card p-4 text-center">
      <label class="h5 mb-3" for="examiner">Search Examiner</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Valid Examiner ID"
        id="examiner"
        (keyup.enter)="searchExaminer(ref.value)"
        ngModel
        #ref
        required
      />
      <button
        class="btn btn-success form-control mt-3 "
        (click)="searchExaminer(ref.value)"
      >
        SEARCH
      </button>
    </div>
  </div>

  <div class="col-md-6 mt-3 pt-0 mb-3 rounded" *ngIf="show">
    <div class="card">
      <img
        [src]="examinerObj['profileUrl']"
        [alt]="examinerObj.username"
        class="img-fluid"
      />
      <h3 class="mt-3">{{ examinerObj.name | uppercase }}</h3>
      <p class="text-muted">
        <i class="fas fa-at"></i>{{ examinerObj.username | uppercase }}
      </p>
      <p><i class="fas fa-university"></i> {{ examinerObj.instituteName }}</p>
      <input
        type="text"
        ngModel
        class="form-control w-75 d-block mx-auto"
        #batchId="ngModel"
        name="batchId"
        placeholder="Batch ID"
        required
      />
      <p>
        <button
          [disabled]="batchId.invalid"
          class="btn btn-primary mt-3 form-control w-75 d-block mx-auto"
          (click)="sendExaminerRequest(batchId.value)"
        >
          ADD ME SIR
        </button>
      </p>
    </div>
  </div>
</div>
