.container-fluid {
  background: linear-gradient(to bottom, #ff8a80, #ef9a9a);
  background: -webkit-linear-gradient(to bottom, #ff8a80, #ef9a9a);
  min-height: 90vh;
  font-family: "Varela Round", sans-serif;
}

button {
  border: 2px solid white;
}

.navbar {
  min-height: 10vh;
}
