.container-fluid {
  background: linear-gradient(to left, #ee9d7e, #f8b195);
  background: -webkit-linear-gradient(to left, #f8b195, #f8b195);
  min-height: 100vh;
  font-family: "Varela Round", sans-serif;
}

button {
  border: 2px solid white;
}
