<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #e53935;"
>
  <div class="container">
    <a class="navbar-brand" routerLink="profile" routerLinkActive="active">
      <img
        class="rounded-circle"
        [src]="examinerObj['profileUrl']"
        style="border: solid 2px white;"
        height="35"
        width="35"
        [alt]="examinerObj['username']"
      />
      <span> {{ examinerObj["name"] | uppercase }}</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      style="border: 2px solid #fff;"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNavAltMarkup"
    >
      <div
        class="navbar-nav"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a
          class="nav-item nav-link"
          routerLink="exam"
          routerLinkActive="active"
        >
          <b>EXAM</b>
        </a>
        <a
          class="nav-item nav-link"
          routerLink="student"
          routerLinkActive="active"
        >
          <b>STUDENT</b>
        </a>
      </div>
    </div>
    <button (click)="logOut()" class="btn btn-danger float-right">
      <span> <i class="fas fa-sign-in-alt"></i></span> Logout
    </button>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
