<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <nav class="nav flex-column">
        <a
          class="nav-link active btn btn-secondary mt-3"
          routerLink="verify-student"
          routerLinkActive="active"
          >Verify Student
          <span class="badge  badge-light text-danger">
            {{ totalRequest }}</span
          ></a
        >
        <a
          class="nav-link active btn btn-primary mt-3"
          routerLink="student-list"
          routerLinkActive="active"
          >Student List</a
        >
      </nav>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
