<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 mb-5 p-4 pb-5">
      <nav class="nav flex-column">
        <a
          class="nav-link btn btn-secondary mt-3"
          routerLink="exam-list"
          routerLinkActive="active"
          >Exam List
        </a>
        <a
          class="nav-link btn btn-secondary mt-3"
          routerLink="performance"
          routerLinkActive="active"
          >Performance</a
        >
      </nav>
    </div>
    <div class="col-md-9 mt-5 mb-5 p-4 pb-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
