<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div
      class="carousel-item active"
      style="background-image: url('https://res.cloudinary.com/wasimkhan/image/upload/v1577182248/photo-1510070112810-d4e9a46d9e91_lriob0.jpg')"
    >
      <div class="carousel-caption mb-4">
        <button
          style="color:#f3f3f3; background-color: #e53935;"
          class="d-block mx-auto"
          data-hover="EXAMINER LOGIN"
          (click)="examinerLogIn()"
        >
          <div>I AM EXAMINER</div>
        </button>

        <button
          style="color:#f3f3f3; background-color: #7e0cf5;"
          class="d-block mx-auto mt-3"
          data-hover="STUDENT LOGIN"
          (click)="studentLogIn()"
        >
          <div>I AM STUDENT</div>
        </button>
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div
      class="carousel-item "
      style="background-image: url('https://res.cloudinary.com/wasimkhan/image/upload/v1576771985/student-2052868_1920_uxfjda.jpg')"
    >
      <div class="carousel-caption mb-4">
        <button
          style="color:#f3f3f3; background-color: #e53935;"
          class="d-block mx-auto"
          data-hover="EXAMINER LOGIN"
          (click)="examinerLogIn()"
        >
          <div>I AM EXAMINER</div>
        </button>

        <button
          style="color:#f3f3f3; background-color: #7e0cf5;"
          class="d-block mx-auto mt-3"
          data-hover="STUDENT LOGIN"
          (click)="studentLogIn()"
        >
          <div>I AM STUDENT</div>
        </button>
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
    <div
      class="carousel-item"
      style="background-image: url('https://res.cloudinary.com/wasimkhan/image/upload/v1576771989/student-865073_1920_qhrora.jpg')"
    >
      <div class="carousel-caption mb-4">
        <button
          style="color:#f3f3f3; background-color: #e53935;"
          class="d-block mx-auto"
          data-hover="EXAMINER LOGIN"
          (click)="examinerLogIn()"
        >
          <div>I AM EXAMINER</div>
        </button>

        <button
          style="color:#f3f3f3; background-color: #7e0cf5;"
          class="d-block mx-auto mt-3"
          data-hover="STUDENT LOGIN"
          (click)="studentLogIn()"
        >
          <div>I AM STUDENT</div>
        </button>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
